#
# {{ ansible_managed }}
#
permit nopass {{ doas_user_or_group }} cmd /sbin/apk args upgrade
{% if doas_configuration_allow_relative_paths_for_binaries | bool %}
permit nopass {{ doas_user_or_group }} cmd apk args upgrade
{% endif %}
