#
# {{ ansible_managed }}
#
permit nopass {{ doas_user_or_group }} cmd /sbin/shutdown args -h now
{% if doas_configuration_allow_relative_paths_for_binaries | bool %}
permit nopass {{ doas_user_or_group }} cmd shutdown args -h now
{% endif %}
